/* * {
  font-family: "Crimson Pro", san-serif;
  max-width: 99.5%;
} */

.container {
  float: left;
  margin-left: 200px;
  width: 287px;
  height: 380px;
  background: #293241;
}

.portrait {
  width: 287px;
  height: 380px;
  margin-left: -80px;
  margin-top: 50px;
}

.design-right {
  width: 250px;
  height: 450px;
  padding: auto;
  margin: -250px 0px 0px 1000px;
}

.design-left {
  width: 220px;
  height: 430px;
  padding: auto;
  /* margin: -250px 0px 0px 1000px; */
}

/* timeline styles */

/* .timeline {
  margin-left: 2500px;
  background-color: #293241;

} */

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.25em 0.5em 0 !important;
  /* padding: 2em 3em !important; */
  margin-bottom: -80px;
  background: #293241;
  border-radius: 0px 120px;
  text-align: center;
}

.vertical-timeline-element-title {
  padding-top: 20px;
  font-size: 30px;
  color: #293241;
}

.vertical-timeline-element-year {
  padding-top: 10px;
  font-size: 25px;
  color: #293241;
}

.vertical-timeline-element-subtitle {
  padding-top: 10px;
  font-size: 20px;
  font-style: italic;
  color: #ee6c4d;
}
/* 
.date {
  color: rgb(201, 251, 255);
} */

.description {
  /* margin: 1.5em 0 2em 0; */
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
  color: #ee6c4d;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
