* {
  font-family: "Crimson Pro", san-serif;
  max-width: 99.5%;
}

.container {
  float: left;
  margin-left: 200px;
  width: 287px;
  height: 380px;
  background: #293241;
}

.portrait {
  width: 287px;
  height: 380px;
  margin-left: -80px;
  margin-top: 50px;
}

.design-right {
  width: 250px;
  height: 450px;
  padding: auto;
  margin: -250px 0px 0px 1000px;
}

.design-left {
  width: 220px;
  height: 430px;
  padding: auto;
  /* margin: -250px 0px 0px 1000px; */
}

/* timeline styles */

/* .timeline {
  margin-left: 2500px;
  background-color: #293241;

} */

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.25em 0.5em 0 !important;
  /* padding: 2em 3em !important; */
  margin-bottom: 0px;
  background: linear-gradient(98deg, #293241 0%, rgba(41, 50, 65, 0.75) 100%);
  border-radius: 0px 120px;
  text-align: center;
}

.vertical-timeline-element-title {
  padding-top: 20px;
  font-size: 30px;
  color: #293241;
}

.vertical-timeline-element-year {
  padding-top: 10px;
  font-size: 25px;
  color: #293241;
}

.vertical-timeline-element-subtitle {
  padding-top: 10px;
  font-size: 20px;
  font-style: italic;
  color: #ee6c4d;
}

.description {
  /* margin: 1.5em 0 2em 0; */
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
  color: #ee6c4d;
}

/* Slider */

.slider {
  position: absolute;
  margin-top: -100px;
  margin-left: -100px;
  width: 520px;
  height: 280px;
  left: 480px;
  top: 2370px;
  display: flex;
  background: linear-gradient(
    96.46deg,
    #ee6c4d 3.43%,
    rgba(238, 108, 77, 0.6) 100%,
    rgba(238, 108, 77, 0.6) 100%
  );
  border-radius: 0px 30px 30px 0px;
  font-family: "Crimson Pro", san-serif;
}

.cert {
  position: absolute;
  width: 242px;
  height: 220px;
  left: 30px;
  margin-top: 30px;
  background: white;
  border-radius: 30px 30px 30px 0px;
  align-items: center;
}

.cert-info {
  margin-left: 240px;
  color: #293241;
  width: 222px;
  height: 200px;
  left: 30px;
  margin-top: -180px;
  color: #293241;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* align-items: center; */
  text-align: left;
  font-size: 20px;
}

.cert-info a {
  padding-left: 40px;
}

.image {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  padding: 20px 0 0 25px;
}

.right-arrow {
  position: absolute;
  top: 40%;
  left: 600px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 40%;
  right: 620px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
}

/* Teams worked with */
.teams {
  width: 230px;
  height: 230px;
  margin-left: 120px;
  margin-top: -150px;
}

.line {
  width: 15px;
  height: 200px;
  margin-left: 200px;
  margin-top: -100px;
}

.team-content {
  padding-left: 100px;
  margin-top: -100px;
  margin-left: 100px;
}

.team-content h2 {
  font-size: 20px;

  margin-left: 150px;
  padding: 10px 0 0px 100px;
}

.team-content h3 {
  font-size: 20px;
  margin-top: -210px;
  text-align: left;
  padding-left: 250px;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
